<!DOCTYPE html>
<head>
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
   <!-- Compiled and minified JavaScript -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>  


<style>
    body, html{
        height:100%;
    }
    
    body{
        background-image:url("https://orig00.deviantart.net/a744/f/2013/160/f/7/blinking_bunny_gif_by_bunnymallows-d68cvwk.gif?");
    
    height:100%;
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        
    }
    
    .picture{
       display:block;
       margin-left:auto;
       margin-right:auto;
       width:20%;
        
        
    }
    
    .text{
        font-family:monospace;
        font-size:40px;
    }
    
    .info{
        font-size:15px;
        font-family:monospace;
    }
    
</style>

</head>
<body>
        <nav>
     <div class="nav-wrapper light-blue accent-4">
      <a href="/" class="brand-logo right">My App</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/contact">Contact Me</a></li>
      </ul>
    </div>
  </nav>
    
   <div class="container">
     <h1 class="text">About Me</h1>
     
     <img class="picture" src="https://www.coolfunnyquotes.com/images/quotes/t-my-bed-is-a-magical-place.jpg?">
     
     <p class="info"> Generally, I enjoy reading books and watching movies with the 
     genre of fantasy. Recently, I enjoy reading books centered around transmigration/reincarnation.
     I am open minded to different music genres, although I do 
     prefer certain genres over others.</p>
     
     

   </div>
   
   
   
   
</body>