<!DOCTYPE html>
<head>
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
   <!-- Compiled and minified JavaScript -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>  

  <link rel="stylesheet" href="style.css" type="text/css">
 
<style>
    
    body, html{
        height: 100%;
    }
    
    
body { 

    background-image: url("https://i.pinimg.com/originals/04/1b/3e/041b3e37c4174cb652254612d0647a5c.png?");

    height: 100%; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


    
</style>


</head>


<body>
         <nav>
    <div class="nav-wrapper indigo accent-1">
      <a href="/" class="brand-logo">My App</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/about-me">About Me</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/contact">Contact Me</a></li>
      </ul>
    </div>
  </nav>
        
   <div class="container">
       <form action="/" method="POST">
           
           <h2>Hello!</h2>
           <p>Enter celebrity names with commas seperating them here:</p>
           <textarea name="people"></textarea>
           <button type="submit" class="btn btn-primary">Submit</button>
       </form>
      
       
   </div>
</body>