<!DOCTYPE html>
<head>
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
   <!-- Compiled and minified JavaScript -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>  

<style>
    body, html{
        height:100%;
    }
    
    body{
        background-image:url("https://i.pinimg.com/originals/7f/c9/2b/7fc92bf4a979088c02acabfc29c13e9d.jpg?");
    
    height:100%;
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        
    }
    
    .para{
        font-size:20px;
        font-family:monospace;
    }
    
</style>






</head>
<body>
        <nav>
     <div class="nav-wrapper  teal lighten-2">
      <a href="/" class="brand-logo right">My App</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/contact">Contact Me</a></li>
      </ul>
    </div>
  </nav>
    
   <div class="container">
       <h1>Portfolio</h1>
       <p class="para">Can't decide whether to ship Eunwoo and Dahyun or Eunwoo and Yoojung. Perhaps
       you are debating if Harry makes a better ship with Hermione or Ginny.
       Well think no more, for you shippers out there this app is for you! 
       
       <br>What is this app about? </br>
       My app is about typing a list of names, specifically celebrities or movie/book characters, and
       randomly pairing these names into couples. Then taking the first 2 and last 3 letters of the names,
       a ship name will be created! Everything is based off artificial fate! </p>
   </div>
   
   
            
   
</body>